{% extends 'MusicBundle::layout.html.twig' %}

{% block main %}

    <div class="top-table">
        <a href="{{ path('add_album', {'artistSlug': artist.slug}) }}" class="right-btn btn btn-xs btn-success">Nouvel album</a>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Album</th>
            <th>Artiste</th>
            <th>Actions</th>
        </tr>

        {% for album in albums %}
            <tr>
                <td><a href="{{ path('list_songs', {'albumId': album.id, 'artistSlug': artist.slug}) }}"><img class="music-pic" src="{{ album.picture }}" alt="{{ album.name }}"> {{ album.name }}</a></td>
                <td>{{ album.artist.name }}</td>
                <td>
                    <a href="{{ path('delete_album', {'albumId': album.id, 'artistSlug': artist.slug}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                    <a href="{{ path('edit_album', {'albumId': album.id, 'artistSlug': artist.slug}) }}" class="btn btn-sm btn-warning">Modifier</a>
                    <a href="" class="btn btn-sm btn-success">Nouvel album</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block breadcrumb %}
    <li>{{ artist.name }}</li>
{% endblock %}

{% block title %}Tous les albums{% endblock %}